$border-radius: 6px;

.main {
  position: absolute;
  // center of the screen
  min-width: 400px;
  height: 60%;
  background-color: black;
  top: 50%;
  left: 50%;
  border-radius: $border-radius;
  transform: translate(-50%, -50%);
}

.content {
  padding: 10px 20px;
  overflow-y: auto;
  height: calc(100% - 36px);

  &::-webkit-scrollbar {
    width: 10px;
    border: none;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}

.topbar {
  height: 35px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.title {
  text-transform: capitalize;
  color: black;
}

.dots {
}

.dot {
  height: 12.5px;
  width: 12.5px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.dot:hover {
  background-color: #0064af;
}

.dot:nth-child(1) {
  background-color: #fff202;
}

.dot:nth-child(2) {
  background-color: #ff0000;
}
