.container {
  width: 100%;
  height: -webkit-fill-available;
  min-height: 100vh;
  background-color: #010101;
  color: white;
  position: relative;
  background-image: url("/wallpaper.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.shortcuts {
  width: 20%;
  height: 100%;
  max-width: 150px;
  padding: 20px;

  @media (max-width: 768px) {
    margin-left: 15px;
  }
}

