.item {
  margin-bottom: 15px;

  .title {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    svg {
      height: 24px;
      width: 24px;
      margin-left: 15px;
      fill: white;
    }
  }

  .description {
    font-size: 0.9em;
    color: #919191;
    margin-bottom: 15px;
  }

  .status {
    font-style: italic;
    font-size: 0.6em;
    vertical-align: middle;

    &:before,
    &:after {
      // diamond
      content: "\25C6";
      font-size: 0.8em;
    }

    &:before {
      margin-right: 5px;
    }

    &:after {
      margin-left: 5px;
    }
  }
}
