.item {
  margin-bottom: 15px;

  .title {
    font-weight: 600;
    font-size: 1.1em;
  }

  .subtitle {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 10px;
    color: #919191;

    p:not(:first-child) {
      margin-left: 10px;
    }

    p:not(:last-child):after {
      content: " | ";
      margin-left: 10px;
    }

    .company,
    .type,
    .date {
      text-transform: capitalize;
    }
  }

  .description {
    font-size: 0.9em;
    color: #919191;
    margin-bottom: 15px;
  }

  .technologies {
    span {
      display: inline-block;
      background-color: #6c6c6c;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 0.9em;
      color: #ffffff;
    }
  }
}
